node_modules/
bower_components/
/.yarn-cache
out/
.vs/
build/
dist/
desktop.ini
*.log

# yarn v2+
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


# sops
*.raw.pem
*.raw.json
*.raw.yaml
