node_modules/
bower_components/
/.yarn-cache
out/
obj/
bin/
.vs/
build/
dist/
desktop.ini
*.log

# yarn v2+
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
