
.content {
    padding-top: 48px;
}


li.active {
    background-color: #bf5a15;
}

img.dlg-preview {
    height: 900px;
    width: 900px;
}

@media screen and (max-height: 900px) {
    img.dlg-preview {
        height: 800px;
        width: 800px;
    }
}

@media screen and (max-height: 800px) {
    img.dlg-preview {
        height: 700px;
        width: 700px;
    }
}

@media screen and (max-height: 700px) {
    img.dlg-preview {
        height: 600px;
        width: 600px;
    }
}

@media screen and (max-height: 600px) {
    img.dlg-preview {
        height: 500px;
        width: 500px;
    }
}

@media screen and (max-height: 500px) {
    img.dlg-preview {
        height: 400px;
        width: 400px;
    }
}
