<div class="panel h-event np-padding" data-role="panel">
    <div class="heading">
        <span class="icon mif-alarm"></span>
        <span class="title p-name">Flohmarkt</span>
    </div>
    <div class="content padding10 clear-float">
        <p>
            <strong>Was:</strong><br />
            <span class="p-summary">Frisch gebackener Kuchen aus dem Lehmbackofen, dazu einen Kaffe und einen Rundgang über den Flohmarkt.</span>
        </p>

        <address class="p-location h-adr">
            <strong>Wo:</strong><br />
            <span class="p-extended-addres">Arboretum</span><br>
            <span class="p-postal-code">
                16845
            </span> <span class="p-locality">
                Dreetz
            </span><br>
            <span class="p-geo h-geo">
                GPS:
                <a class="u-geo" href="geo:12.47972,52.78546">
                    <span class="p-latitude">52.78546</span>° N,
                    <span class="p-longitude">12.47972</span>° E
                </a>
            </span><br>
            Maps: <a class="u-url" rel="external noopener noreferrer nofollow" href="https://goo.gl/maps/6RvksEVkKVK2">QFPH+5V Dreetz</a>
        </address>

        <p class="">
            <strong>Wann:</strong><br />
            <span>
                <time class="dt-start" datetime="2019-03-16 12:00">16 März 2019, 12:00</time>
                bis <time class="dt-end" datetime="2019-03-16 18:00">18:00</time>
            </span><br />
            </span>
        </p>

        <p class="align-center p-organiser h-card">
            Weitere informationen unter <a class="u-email" href="mailto:info@dorf-leben.org">info@dorf-leben.org</a> oder
            <a class="u-tel" href="tel:+4933970120839">+49 (0)33970 120839</a>.<br><br>
            Ansprechpartnerin: <span class="p-name">Manuela Matz-Kubick</span> (<span class="p-org">Förderverein /Freie SozialArbeit</span>)
        </p>
    </div>
</div>
