<div class="panel h-event np-padding" data-role="panel">
    <div class="heading">
        <span class="icon mif-alarm"></span>
        <span class="title p-name">Hausflohmarkt</span>
    </div>
    <div class="content padding10 clear-float">
        <!--<img class="place-left" style="height:75px" src="/images/Flohmarkt/Smile Garage Sale.png" />
        <img class="place-right" style="height:75px" src="/images/Flohmarkt/Smile Finger.png" />
        <p class="align-center sub-header no-padding-top clear-float">
            Alles muss raus
        </p>-->

        <p class="">
            <strong>Was:</strong><br />
            <ul>
                <li>Kleinmöbel</li>
                <li>Geschirr</li>
                <li>Kleidung in allen Größen</li>
                <li>Schuhe</li>
                <li>Bücher</li>
                <li>DVD's, CD's</li>
                <li>Elektronik</li>
                <li>Kinderspielzeug</li>
                <li>Trödel</li>
                <li>Werkzeug</li>
            </ul>
        </p>


        <address class="p-location h-adr">
            <strong>Wo:</strong><br />
            <span class="p-street-address">Mörikeweg 51</span><br>
            <span class="p-postal-code">
                18146
            </span> <span class="p-locality">
                Rostock-Dierkow-West
            </span><br>
        </address>

        <!--<img class="place-left" style="height:75px" src="/images/Flohmarkt/Smile Daumen hoch.png" />-->
        <!--<img class="place-right" style="height:75px" src="/images/Flohmarkt/Smile Big Sale.png" />-->

        <p class="">
            <strong>Wann:</strong><br />
            <span>
                <time class="dt-start" datetime="2017-06-04 09:00">4 Juni 2017, 09:00</time>
                bis <time class="dt-end" datetime="2017-06-04 17:00">17:00</time>
            </span><br />
            <span>
                <time class="dt-start" datetime="2017-06-05 09:00">5 Juni 2017, 09:00</time>
                bis <time class="dt-end" datetime="2017-06-05 17:00">17:00</time>
            </span>
        </p>
        <!--<p class="align-center sub-header">
            Auch fürs leibliche Wohl ist gesorgt
        </p>-->
    </div>
</div>
