<div class="panel h-event np-padding" data-role="panel">
    <div class="heading">
        <span class="icon mif-alarm"></span>
        <span class="title p-name">Privater Garagenverkauf</span>
    </div>
    <div class="content padding10 clear-float">
        <img class="place-left" style="height:75px" src="/images/Flohmarkt/Smile Garage Sale.png" />
        <img class="place-right" style="height:75px" src="/images/Flohmarkt/Smile Finger.png" />
        <p class="align-center sub-header no-padding-top clear-float">
            Alles muss raus
        </p>

        <p class="align-center">
            von Klamotten, Kleinmöbel, Spielzeug bis
            Krimskrams, den die Welt nicht braucht.
            <br />
            Außerdem süße Handarbeiten, Stricken, Nähen, Origami ...<br />
            sowie schönes aus meiner Hobbywerkstatt.
        </p>


        <address class="align-center p-location h-adr">
            <strong>Wo:</strong><br />
            <span class="p-street-address">Mörikeweg 51</span><br>
            <span class="p-postal-code">
                18146
            </span> <span class="p-locality">
                Rostock-Dierkow-West
            </span><br>
        </address>

        <img class="place-left" style="height:75px" src="/images/Flohmarkt/Smile Eat.png" />
        <img class="place-right" style="height:75px" src="/images/Flohmarkt/Smile Big Sale.png" />

        <p class="align-center">
            <strong>Wann:</strong><br />
            <span>
                <time class="dt-start" datetime="2016-06-11 11:00">11 Juni 2016, 11:00</time>
                bis <time class="dt-end" datetime="2016-06-11 17:00">17:00</time>
            </span><br />
            <span>
                <time class="dt-start" datetime="2016-06-12 11:00">12 Juni 2016, 11:00</time>
                bis <time class="dt-end" datetime="2016-06-12 17:00">17:00</time>
            </span>
        </p>
        <p class="align-center sub-header">
            Auch fürs leibliche Wohl ist gesorgt
        </p>
    </div>
</div>
