<div class="panel h-event np-padding" data-role="panel">
    <div class="heading">
        <span class="icon mif-alarm"></span>
        <span class="title p-name">Hausflohmarkt</span>
    </div>
    <div class="content padding10 clear-float">
        <!--<img class="place-left" style="height:75px" src="/images/Flohmarkt/Smile Garage Sale.png" />
        <img class="place-right" style="height:75px" src="/images/Flohmarkt/Smile Finger.png" />
        <p class="align-center sub-header no-padding-top clear-float">
            Alles muss raus
        </p>-->

        <div class="">
            <strong>Was:</strong><br />
            <ul>
                <li>Bücher</li>
                <li>DVD's, CD's</li>
                <li>Elektronik</li>
                <li>Gartengeräte</li>
                <li>Geschirr</li>
                <li>Gläser</li>
                <li>Kleidung</li>
                <li>Kleinmöbel</li>
                <li>Spielzeug</li>
                <li>Werkzeug</li>
            </ul>
        </div>

        <address class="p-location h-adr">
            <strong>Wo:</strong><br />
            <span class="p-street-address">Mörikeweg 51</span><br />
            <span class="p-postal-code"> 18146 </span> <span class="p-locality"> Rostock-Dierkow-West </span><br />
        </address>

        <!--<img class="place-left" style="height:75px" src="/images/Flohmarkt/Smile Daumen hoch.png" />-->
        <!--<img class="place-right" style="height:75px" src="/images/Flohmarkt/Smile Big Sale.png" />-->

        <p class="">
            <strong>Wann:</strong><br />
            <span>
                <time class="dt-start" datetime="2019-06-01 10:00">1 Juni 2019, 10:00</time>
                bis <time class="dt-end" datetime="2019-06-01 17:00">17:00</time> </span
            ><br />
            <span>
                <time class="dt-start" datetime="2019-06-02 10:00">2 Juni 2019, 10:00</time>
                bis <time class="dt-end" datetime="2019-06-02 17:00">17:00</time>
            </span>
        </p>
        <!--<p class="align-center sub-header">
            Auch fürs leibliche Wohl ist gesorgt
        </p>-->
    </div>
</div>
