<div class="panel h-event np-padding" data-role="panel">
    <div class="heading">
        <span class="icon mif-alarm"></span>
        <span class="title p-name">KunstHandwerkerMarkt</span>
    </div>
    <div class="content padding10 clear-float">
        <!--<img class="place-left" style="height:75px" src="/images/Flohmarkt/Smile Garage Sale.png" />
        <img class="place-right" style="height:75px" src="/images/Flohmarkt/Smile Finger.png" />
        <p class="align-center sub-header no-padding-top clear-float">
            Alles muss raus
        </p>-->

        <p class="p-description">
            <strong>Was:</strong><br />
            <span>Kaffee und Kuchen, Glühwein und festliche Musik</span>
        </p>

        <address class="p-location h-adr">
            <strong>Wo:</strong><br />
            <span class="p-extended-address">Pfarrhaus der Biestower Kirchgemeinde</span><br>
            <span class="p-street-address">Am Dorfteich 12</span><br>
            <span class="p-postal-code">
                18059
            </span> <span class="p-locality">
                Rostock-Biestow
            </span><br>
        </address>

        <!--<img class="place-left" style="height:75px" src="/images/Flohmarkt/Smile Daumen hoch.png" />-->
        <!--<img class="place-right" style="height:75px" src="/images/Flohmarkt/Smile Big Sale.png" />-->

        <p class="">
            <strong>Wann:</strong><br />
            <span>
                <time class="dt-start" datetime="2018-12-08 14:00">08 Dezember 2018, 14:00</time>
                bis <time class="dt-end" datetime="2018-12-08 18:00">18:00</time>
            </span>
        </p>
        <p class="align-center sub-header">
            Auch kleine Weihnachtsfans sind herzlich eingeladen!
        </p>

        <p class="align-center">
            Weitere informationen unter <a class="email" href="mailto:kunsthandwerkermarkt.biestow@freenet.de">kunsthandwerkermarkt.biestow@freenet.de</a>.<br><br>
            Bitte nur auf gekennzeichneten Flächen parken oder Bus 26 nehmen!
        </p>
    </div>
</div>
