<div class="app-bar fixed-top">
    <div class="container">
        <a class="app-bar-element branding" href="/">
            <img src="/images/logo.png" style="height: 28px; display: inline-block; margin-right: 10px;" />
            Pusle med Nanni
        </a>
        <ul class="app-bar-menu">
            <li>
                <a href="/topics">Bilder</a>
            </li>
        </ul>
        <ul class="app-bar-menu place-right">
            <li>
                <a href="/about">
                    Impressum
                </a>
            </li>
        </ul>
    </div>
</div>
