<div class="panel h-event np-padding" data-role="panel">
    <div class="heading">
        <span class="icon mif-alarm"></span>
        <span class="title p-name">Weihnachtsmarkt</span>
    </div>
    <div class="content padding10 clear-float">
        <p class="p-description">
            <strong>Was:</strong><br />
            <span>Weihnachtsmarkt Im Camping- und Ferienpark Markgrafenheide</span><br />
            <span>Ich bin dabei. Herzlich willkommen!</span>
        </p>

        <address class="p-location h-adr">
            <strong>Wo:</strong><br />
            <span class="p-extended-address">baltic-Freizeit GmbH</span><br />
            <span class="p-street-address">Budentannenweg 2</span><br />
            <span class="p-postal-code">18146</span>
            <span class="p-locality">Markgrafenheide</span><br />
            <a class="u-url" href="https://baltic-freizeit.de/">https://baltic-freizeit.de/</a><br />
        </address>

        <p class="">
            <strong>Wann:</strong><br />
            <span>
                <time class="dt-start" datetime="2021-11-27 10:00">27 November 2021, 10:00</time>
                bis <time class="dt-end" datetime="2021-11-27 20:00">20:00</time> </span
            ><br />
            <span>
                <time class="dt-start" datetime="2021-11-28 10:00">28 November 2021, 10:00</time>
                bis <time class="dt-end" datetime="2021-11-28 20:00">20:00</time>
            </span>
        </p>
    </div>
</div>
