ErrorDocument 503 /error/503.html
ErrorDocument 404 /error/404.html

RewriteEngine On

RedirectMatch "^/naehen/(.*)" "/Nähen/$2"
RedirectMatch "^/haekeln/(.*)" "/Häkeln/$2"


# Wartung
RewriteCond %{REQUEST_URI} !^/error/[0-9]+\.html$
RewriteCond %{REQUEST_URI} !^/(css|js|fonts|images)/
RewriteRule .* - [R=503,L]
