name: build

on:
  workflow_call:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          show-progress: false
          fetch-depth: 0 # required for valid mtime
          filter: blob:none

      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@2304a46e39979e468bda0ebd91127e008b0b0723 # v3.14.30
        with:
          checkout: false

      # Fix timestamps
      # https://git.wiki.kernel.org/index.php/Git_FAQ#Why_isn.27t_Git_preserving_modification_time_on_files.3F
      - name: restore timestamps
        uses: chetan/git-restore-mtime-action@bca85c11349c76b2dbac06d07edf6c2407dbab1e # v2.2

      - name: Lint
        run: pnpm prettier:check

      - name: Build
        run: pnpm build

      - name: Upload pages artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: pages
          path: ./dist
          if-no-files-found: error
          retention-days: 1
