name: build

on:
  workflow_call:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          show-progress: false
          fetch-depth: 0 # required for valid mtime
          filter: blob:none

      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@6bf3f1c9139edf40594b0aa52b9fa15a88e5fd21 # v4.0.8
        with:
          checkout: false

      # Fix timestamps
      # https://git.wiki.kernel.org/index.php/Git_FAQ#Why_isn.27t_Git_preserving_modification_time_on_files.3F
      - name: restore timestamps
        uses: chetan/git-restore-mtime-action@d186aca54f8760da4dec55313195e51ed3ebb0b3 # v2.3

      - name: Lint
        run: pnpm prettier:check

      - name: Build
        run: pnpm build

      - name: Upload pages artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: pages
          path: ./dist
          if-no-files-found: error
          retention-days: 1
