name: deploy

on:
  push:
    branches:
      - main

  workflow_dispatch:

permissions:
  contents: read

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: 'pages'
  cancel-in-progress: false

jobs:
  build:
    uses: ./.github/workflows/build.yml
    permissions:
      contents: read

  deploy:
    runs-on: ubuntu-24.04

    needs:
      - build

    environment:
      name: www
      url: https://www.pusle-med-nanni.de

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          show-progress: false

      - name: Setup SOPS
        uses: nhedger/setup-sops@187c90dbb4e28c3225263886266a5b92baa7e5a1 # v2.1.1

      - name: prepare
        run: |
          ./bin/prepare.sh
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}

      - name: Download pages artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: pages
          path: dist

      - name: deploy
        run: |
          rsync -aPc --stats --chmod=D775,F664 --delete ./dist/ --exclude-from=.rsyncignore gitlab@vps577063.ovh.net:/opt/docker/html/de.pusle-med-nanni.www/

      - name: cleanup
        if: ${{ always() }}
        run: |
          ssh-agent -k
